/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_68bd15f708a3cebbe9865b8cc316c3e1.eot");
  src: url("fontcustom_68bd15f708a3cebbe9865b8cc316c3e1.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_68bd15f708a3cebbe9865b8cc316c3e1.woff") format("woff"),
       url("fontcustom_68bd15f708a3cebbe9865b8cc316c3e1.ttf") format("truetype"),
       url("fontcustom_68bd15f708a3cebbe9865b8cc316c3e1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-close:before,
.icon-pause:before,
.icon-play:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-close:before { content: "\f100"; }
.icon-pause:before { content: "\f101"; }
.icon-play:before { content: "\f102"; }
