/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_bdc6c5910f90bd1dbac81c30436bc45a.eot");
  src: url("fontcustom_bdc6c5910f90bd1dbac81c30436bc45a.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_bdc6c5910f90bd1dbac81c30436bc45a.woff") format("woff"),
       url("fontcustom_bdc6c5910f90bd1dbac81c30436bc45a.ttf") format("truetype"),
       url("fontcustom_bdc6c5910f90bd1dbac81c30436bc45a.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-activity:before,
.icon-close:before,
.icon-link:before,
.icon-logo:before,
.icon-music:before,
.icon-pause:before,
.icon-play:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-activity:before { content: "\f100"; }
.icon-close:before { content: "\f101"; }
.icon-link:before { content: "\f102"; }
.icon-logo:before { content: "\f103"; }
.icon-music:before { content: "\f104"; }
.icon-pause:before { content: "\f105"; }
.icon-play:before { content: "\f106"; }
