/* ==========================================
	 Load Atomic
	 ========================================== */

// Configure Atomic in _atomic.scss
@import "atomic";

/* ==========================================
	 Your Styles
	 ========================================== */

html, body {
    width:100%;
    height:100%;
    background:#000;
    overflow:hidden;
}

canvas {
    display:block;
    position:absolute;
    top:100%;
    opacity:0;
}

section {
    width:100%;
    height:100%;
    text-align:center;
}

.logo {
    margin-top:10%;
    width:400px;
}

.trigger {
    @include transition;
    cursor:pointer;
    font-size:4em;
    margin:1em 0;

    &:hover {
        color:#B75D58;
    }
}
